@import '../../var';

.drawer-container {
    width:100%;
    opacity:1;
    transition:opacity 1s ease-in-out;
    height:100vh;
    background-color:black;
    padding:1rem 0rem 1rem 3rem;
    ul {
        padding:0px;
    }
    li {
        text-transform:uppercase;
        font-family:$fontJosef;
        font-weight:100;
        font-size:2rem;
        color:white;
        list-style:none;
    }
    .list-row {
        height:70vh;
        display:flex;
        align-items: flex-end;
    }
}

.drawer-container-none {
    opacity:0;
    transition:opacity 1s ease-in;
    display:none;
}