@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400;500&display=swap');
$white: hsl(0, 0%, 100%);
$black:  hsl(0, 0%, 0%);
$dark-grey: hsl(0, 0%, 55%);
$v-dark-grey:hsl(0, 0%, 41%);
$fontAlata: 'Alata', sans-serif;
$fontJosef: 'Josefin Sans', sans-serif;

